@import url('./header.css');
@import url('./content.css');
@import url('./information.css');


.main-screen {
   
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    z-index: -5;
     padding-left: 80px;
    padding-right: 60px;
    padding-top: 38px;
}