@import url('/task_02/styles/main-screen/header.css');
@import url('/task_02/styles/main-screen/content.css');
@import url('/task_02/styles/main-screen/information.css');


/* .main-screen {
    background-image: url('/task_02/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
} */