@import url('/task_02/styles/fast-start/statistics.css');
@import url('/task_02/styles/fast-start/title.css');


.fast_start {
    padding-left: 80px;
    padding-right: 60px;
    padding-top: 38px;
    margin-top: 160px;
    margin-left: 234px;
}
