.about {
    display: flex;
    margin-top: 270px;
    margin-left: 230px;
}

.about__image {
    position: relative;

}

.about__image::before {
    content: "";
    position: absolute;
    width: 470px;
    height: 440px;
    border: 30px solid;
    border-image-source: linear-gradient(to left, #7C6AFA, #C89AFC);
    border-image-slice: 1;
    z-index: -2;
    left: 0px;
    top: -40px;
}

.about__image>img {
    margin-left: 35px;
    margin-top: 50px;
}


.about__info {
    margin-left: 185px;
    max-width: 600px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}

.about__info>h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;

}